<a href="https://colab.research.google.com/github/stephyi/Uber_And_Lyft_Car_Prices_Analysis/blob/master/Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
weather=pd.read_csv('https://bit.ly/cabsweatherdata')
cabs=pd.read_csv('https://bit.ly/cabsdataset')

In [3]:
weather.head(5)

   Unnamed: 0   temp            location  ...           time_stamp  humidity   wind
0           0  42.42            Back Bay  ...  2018-12-16 23:45:01      0.77  11.25
1           1  42.43         Beacon Hill  ...  2018-12-16 23:45:01      0.76  11.32
2           2  42.50   Boston University  ...  2018-12-16 23:45:01      0.76  11.07
3           3  42.11              Fenway  ...  2018-12-16 23:45:01      0.77  11.09
4           4  43.13  Financial District  ...  2018-12-16 23:45:01      0.75  11.49

[5 rows x 9 columns]

In [4]:
cabs.head(5)

   Unnamed: 0  distance  ...    product_id          name
0           0      0.44  ...     lyft_line        Shared
1           1      0.44  ...  lyft_premier           Lux
2           2      0.44  ...          lyft          Lyft
3           3      0.44  ...   lyft_luxsuv  Lux Black XL
4           4      0.44  ...     lyft_plus       Lyft XL

[5 rows x 11 columns]